{% extends 'base.html.twig' %}

{% block body %}
  <style>
    thead,
    tbody {
      text-align: center;
    }

    .table td,
    .table th {
      padding: 10px;
    }

    .fond {
      background-color: green;
      padding: 10px;
      border-radius: 10px;
    }

    .fond .icone {
      color: white;
    }
    .table .etat-vie-mort {
      color: red;  /* Changez la couleur en fonction de votre style préféré */
      font-weight: bold;
    }
  </style>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Ap</th>
        <th scope="col">Ad</th>
        <th scope="col">Mana</th>
        <th scope="col">Pv</th>
        <th scope="col" colspan="3">Action</th>
        <th scope="col">Etat du Player</th>
      </tr>
    </thead>

    <tbody>
      {% for player in players %}
        <tr>
          <th scope="row">{{ player.id }}</th>
          <td>{{ player.name }}</td>
          <td>{{ player.ap }}</td>
          <td>{{ player.ad }}</td>
          <td>{{ player.mana }}</td>
          <td>{{ player.pv }}</td>
          <td>
            <a href="/player/delete/{{ player.id }}" class="" role="button" aria-pressed="true">
              <i class="fas fa-trash"></i>
            </a>
          </td>
          <td>
            <a href="/player/update/{{ player.id }}" class="" role="button" aria-pressed="true">
              <i class="fas fa-pen"></i>
            </a>
          </td>
          <td>
            <a href="/player/show/{{ player.id }}" class="" role="button" aria-pressed="true">
              <i class="fas fa-user-tie"></i>
            </a>
          </td>
          <td class="{% if player.pv <= 0 %}etat-vie-mort{% endif %}">
            {% if player.pv <= 0 %}
              Mort
            {% else %}
              En vie
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="d-flex justify-content-center align-item-center mt-5">
    <a href="{{ path('app_player_formulaire') }}" class="fond" role="button" aria-pressed="true">
      <i class="fas fa-plus icone"></i>
    </a>
  </div>
{% endblock body %}