{% extends 'base.html.twig' %}

    {% block body %}
        <style>
            thead,
            tbody {
            text-align: center;
            }
            .table .etat-vie-mort {
            color: red;  /* Changez la couleur en fonction de votre style préféré */
            font-weight: bold;
            }
        </style>
  
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1> Informations de {{player.name}} </h1>

                    <p>Nom du Player: {{ player.name }}</p>
                    <p>Ad du Player {{player.name}} : {{ player.ad }}</p>
                    <p>Ap du Player {{player.name}} : {{ player.ap }}</p>
                    <p>Pv du Player {{player.name}} : {{ player.pv }}</p>
                    <p>Mana du Player {{player.name}} : {{ player.mana }}</p>
                </div>
                <div class="col-6">
                    <h1> Pets de {{ player.name }} </h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nom</th>
                                <th scope="col">XP</th>
                                <th scope="col">Niveau</th>
                                <th scope="col">AD</th>
                                <th scope="col">AP</th>
                                <th scope="col">Mana</th>
                                <th scope="col">PV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pet in player.pets %}
                                <tr>
                                    <td>{{ pet.id }}</td>
                                    <td>{{ pet.name }}</td>
                                    <td>{{ pet.xp }}</td>
                                    <td>{{ pet.niveau }}</td>
                                    <td>{{ pet.ad }}</td>
                                    <td>{{ pet.ap }}</td>
                                    <td>{{ pet.mana }}</td>
                                    <td>{{ pet.pv }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="container">
            <h1> Attaquer un Player </h1>
            <table class="table">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Ap</th>
                <th scope="col">Ad</th>
                <th scope="col">Mana</th>
                <th scope="col">Pv</th>
                <th scope="col">Attaque AD</th>
                <th scope="col">Attaque AP</th>
                <th scope="col">Etat du Player</th>

                </tr>
            </thead>
                <tbody>
                    {% for otherPlayer in players %}
                        {% if otherPlayer.id != player.id %}
                            <tr>
                                <td>{{otherPlayer.id}}</td>
                                <td>{{otherPlayer.name}}</td>
                                <td>{{otherPlayer.ap}}</td>
                                <td>{{otherPlayer.ad}}</td>
                                <td>{{otherPlayer.mana}}</td>
                                <td>{{otherPlayer.pv}}</td>
                                <td><a href="{{ path('app_player_damage', {'id': player.id, 'targetId': otherPlayer.id, 'type': 'ad'}) }}" class="" role="button" aria-pressed="true">Attaque AD</a></td>
                                <td><a href="{{ path('app_player_damage', {'id': player.id, 'targetId': otherPlayer.id, 'type': 'ap'}) }}" class="" role="button" aria-pressed="true">Attaque AP</a></td>
                                <td class="{% if otherPlayer.pv <= 0 %}etat-vie-mort{% endif %}">
                                    {% if otherPlayer.pv <= 0 %}
                                    Mort
                                    {% else %}
                                    En vie
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}