{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">

        <form action="{{ path('app_player_update', {'id': player.id}) }}" method="post" >
            <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" name="inputName" id="inputName" aria-describedby="emailHelp" placeholder="{{player.name}}">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Ap</label>
            <input type="number" class="form-control" name="inputAp" id="inputAp" placeholder="{{player.ap}}">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Ad</label>
            <input type="number" class="form-control" name="inputAd" id="inputAd" placeholder="{{player.ad}}">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Mana</label>
            <input type="number" class="form-control" name="inputMana" id="inputMana" placeholder="{{player.mana}}">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Pv</label>
            <input type="number" class="form-control" name="inputPv" id="inputPv" placeholder="{{player.pv}}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
        </div>
    {% endblock %}



